@@import url(fontawesome/css/all.css);
@import url(https://unpkg.com/aos@2.3.1/dist/aos.css);

html{
	scroll-behavior: smooth;
}
*{
	list-style: none;
	padding: 0;
	margin:0;
}

body{
	margin:0;
	padding: 0;
	font-family: sans-serif;
	background-image: url('back.jpg');
  	background-size: cover;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-attachment: fixed;
}
section{
	height: 25vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
#cv{
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}
#cv {
  border-color: #f44336;
  color: red
}

#cv:hover {
  background: #f44336;
  color: white;
}
#albert {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 250px;
}

#albert:hover {
  box-shadow: 0 0 3px 5px rgba(120, 120, 120, 120);
}

.footer{
	text-align: center;
	size: 3em;
	border-color: black;
	color:white;
	border-bottom-color: coral;
}
.masthead {
  height: 50vh;
  min-height: 150px;
  transition: .5s;
}
#header {
		align-items: center;
		display: flex;		
		-webkit-flex-direction: column;
		transition: .5s;
	}
		#header a {
			color: #080808;
			border-color: #080808 !important
		}

			#header a:hover {
				border-bottom-color: transparent;
				color: #18bfef !important;
			}

		#header .logo {
			transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.5s ease, transform 0.5s ease, visibility 0.5s;
			border-style: solid;
			border-color: #ffffff;
			border-width: 5px !important;
			font-family: "Source Sans Pro", Helvetica, sans-serif;
			font-size: 2.25rem;
			font-weight: 900;
			letter-spacing: 0.1em;
			padding: 1rem;
			text-transform: uppercase;
			visibility: visible;
		}
			#header .logo:hover {
				border-color: #18bfef !important;
				color: #18bfef !important;
			}
		@media screen and (max-width: 980px) {
			#header {
				height: 14rem;
				padding-bottom: 4rem;
			}
		}

		@media screen and (max-width: 736px) {

			#header {
				padding-bottom: 3rem;
			}

				#header .logo {
					font-size: 1.75rem;
					border-width: 3px !important;
				}

		}
#bod{
	transition: .5s;
}

h2, h3, h4, h5, h6 {
  color: #3D4351;
  margin-top: 0;
}

a {
  color: #FF6B6B;
}
a:hover {
  color: #ff9a9a;
  text-decoration: none;
}


.example-title {
  text-align: center;
  margin-bottom: 60px;
  padding: 3em 0;
  border-bottom: 1px solid #E4EAEC;
}
.example-title p {
  margin: 0 auto;
  font-size: 16px;
  max-width: 400px;
}

/*==================================
    TIMELINE
==================================*/
/*-- GENERAL STYLES
------------------------------*/
.timeline {
  line-height: 1.4em;
  list-style: none;
  margin: 0;
  padding: 0;
 
}
.timeline h1, .timeline h2, .timeline h3, .timeline h4, .timeline h5, .timeline h6 {
  line-height: inherit;
}

/*----- TIMELINE ITEM -----*/
.timeline-item {
  padding-left: 40px;
  position: relative;
}
.timeline-item:last-child {
  padding-bottom: 0;
}

/*----- TIMELINE INFO -----*/
.timeline-info {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 3px;
  margin: 0 0 .5em 0;
  text-transform: uppercase;
  white-space: nowrap;
}

/*----- TIMELINE MARKER -----*/
.timeline-marker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15px;
}
.timeline-marker:before {
  background: #FF6B6B;
  border: 3px solid transparent;
  border-radius: 100%;
  content: "";
  display: block;
  height: 15px;
  position: absolute;
  top: 4px;
  left: 0;
  width: 15px;
  transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}
.timeline-marker:after {
  content: "";
  width: 3px;
  background: #CCD5DB;
  display: block;
  position: absolute;
  top: 24px;
  bottom: 0;
  left: 6px;
}
.timeline-item:last-child .timeline-marker:after {
  content: none;
}

.timeline-item:not(.period):hover .timeline-marker:before {
  background: transparent;
  border: 3px solid #FF6B6B;
}

/*----- TIMELINE CONTENT -----*/
.timeline-content {
  padding-bottom: 40px;
}
.timeline-content p:last-child {
  margin-bottom: 0;
}


/*----------------------------------------------
    MOD: TIMELINE SPLIT
----------------------------------------------*/
@media (min-width: 768px) {
  .timeline-split .timeline, .timeline-centered .timeline {
    display: table;
  }
  .timeline-split .timeline-item, .timeline-centered .timeline-item {
    display: table-row;
    padding: 0;
  }
  .timeline-split .timeline-info, .timeline-centered .timeline-info,
  .timeline-split .timeline-marker,
  .timeline-centered .timeline-marker,
  .timeline-split .timeline-content,
  .timeline-centered .timeline-content,
  .timeline-split .period .timeline-info,
  .timeline-centered .period .timeline-info {
    display: table-cell;
    vertical-align: top;
  }
  .timeline-split .timeline-marker, .timeline-centered .timeline-marker {
    position: relative;
  }
  .timeline-split .timeline-content, .timeline-centered .timeline-content {
    padding-left: 30px;
  }
  .timeline-split .timeline-info, .timeline-centered .timeline-info {
    padding-right: 30px;
  }
  .timeline-split .period .timeline-title, .timeline-centered .period .timeline-title {
    position: relative;
    left: -45px;
  }
}

/*----------------------------------------------
    MOD: TIMELINE CENTERED
----------------------------------------------*/
@media (min-width: 1000px) {
  .timeline-centered,
  .timeline-centered .timeline-item,
  .timeline-centered .timeline-info,
  .timeline-centered .timeline-marker,
  .timeline-centered .timeline-content {
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .timeline-centered .timeline-item {
    padding-bottom: 40px;
    overflow: hidden;
  }
  .timeline-centered .timeline-marker {
    position: absolute;
    left: 50%;
    margin-left: -7.5px;
  }
  .timeline-centered .timeline-info,
  .timeline-centered .timeline-content {
    width: 50%;
  }
  .timeline-centered > .timeline-item:nth-child(odd) .timeline-info {
    float: left;
    text-align: right;
    padding-right: 30px;
  }
  .timeline-centered > .timeline-item:nth-child(odd) .timeline-content {
    float: right;
    text-align: left;
    padding-left: 30px;
  }
  .timeline-centered > .timeline-item:nth-child(even) .timeline-info {
    float: right;
    text-align: left;
    padding-left: 30px;
  }
  .timeline-centered > .timeline-item:nth-child(even) .timeline-content {
    float: left;
    text-align: right;
    padding-right: 30px;
  }
  .timeline-centered > .timeline-item.period .timeline-content {
    float: none;
    padding: 0;
    width: 100%;
    text-align: center;
  }
  .timeline-centered .timeline-item.period {
    padding: 50px 0 90px;
  }
  .timeline-centered .period .timeline-marker:after {
    height: 30px;
    bottom: 0;
    top: auto;
  }
  .timeline-centered .period .timeline-title {
    left: auto;
  }
}

/*----------------------------------------------
    MOD: MARKER OUTLINE
----------------------------------------------*/
.marker-outline .timeline-marker:before {
  background: transparent;
  border-color: #FF6B6B;
}
.marker-outline .timeline-item:hover .timeline-marker:before {
  background: #FF6B6B;
}
.container-fluid .row {
  padding: 0 0 4em 0;
}
.container-fluid .row:nth-child(even) {
  background: #F1F4F5;
}

.skills{
	width:100%;
	align-content: center;
	align-self: center;
	padding: 0 20px;
}

.skill-name{
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 20px 0
}

.skill-bar{
	height: 20px;
	background-color: #cacaca;
	border-radius: 8px;
}

.skill-per{
	height: 20px;
	background-color: #ff6b6b;
	border-radius: 8px;
	width: 0%;
	position: relative;
}

.skill-per::before{
	content: attr(per);
	position: absolute;
	padding: 4px 6px;
	background-color: #000;
	color: #fff;
	font-size: 12px;
	border-radius: 4px;
	top: -35px;
	right:0;
	transform: translateX(50%);
}
.skill-per::after{
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: #000;
	top:-16px;
	right:0;
	transform: translateX(50%) rotate(45deg);
	border-radius: 2px;
}

section{
	position: relative;
	justify-content: center;
	align-items: center;
	display: flex;
	min-height:50vh;
	
}
section::before{
	content: '';
	position: absolute;
	top:0;
	left: 0;
	width: 50%;
	height: 100%;
	
}
section .contain{
	position: relative;
	min-width: 1100px;
	min-height: 550px;
	display: flex;
	z-index: 1000;
}
section .contain .contactInfo 
{
	position: absolute;
	top:40px;
	width: 350px;
	height: calc(100% - 80px);
	margin-left: -50px;
	background: #cc3d3b;
	z-index: 1;
	padding: 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}
section .contain .contactInfo h2
{
	color: #fff;
	font-size: 24px;
	font-weight: 500;
}
section .contain .contactInfo .info
{
	color: #fff;
	position: relative;
	margin:20px 0;
}
section .contain .contactInfo .info li{
	position: relative;
	list-style: none;
	display: flex;
	margin: 20px 0;
	cursor: pointer;
	align-items: flex-start;
}
section .contain .contactInfo .info li span:nth-child(1){
	width: 30px;
	min-width: 30px;
}
section .contain .contactInfo .info li span:nth-child(1) img{
	max-width: 100%;
	filter: invert(1);
	opacity: 0.5;
}
section .contain .contactInfo .info li span:nth-child(2),
section .contain .contactInfo .info li span:nth-child(3)
{
	color: #fff;
	margin-left: 10px;
	font-weight: 300;
	opacity: 0.5;
}
section .contain .contactInfo .info li:hover span:nth-child(1) img,
section .contain .contactInfo .info li:hover span:nth-child(2),
section .contain .contactInfo .info li:hover span:nth-child(3)
{
	opacity: 1;
}
section .contain .contactForm{
	position: absolute;
	padding: 70px 50px;
	background: #fff;
	margin-left: 200px;
	padding-left: 150px;
	width: calc(100% - 150px); 
	height: 100%;
	box-shadow: 0 50px 50px rgba(0,0,0,0.5)
}
section .contain .contactForm h2{
	color: #0f3959;
	font-size: 24px;
	font-weight: 500;
}
section .contain .contactForm .formBox{
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 30px;
}
section .contain .contactForm .formBox .inputBox{
	position: relative;
	margin: 0 0 35px 0;
}
section .contain .contactForm .formBox .inputBox.w50{
	width: 47%;
}
section .contain .contactForm .formBox .inputBox.w100{
	width: 100%;
}
section .contain .contactForm .formBox .inputBox input,
section .contain .contactForm .formBox .inputBox textarea{
	width: 100% !important;
	padding: 5px 0;
	font-size: 18px;
	font-weight: 300;
	color: #333;
	border:none;
	border-bottom: 1px solid #777;
	outline: none;
}
section .contain .contactForm .formBox .inputBox textarea{
	min-height: 120px;
	transition: 0.5s;
}
section .contain .contactForm .formBox .inputBox span{
	position: absolute;
	left: 0;
	padding:5px 0;
	font-size: 18px;
	font-weight: 300;
	color: #333;
	transition: 0.5s;
	pointer-events: none;
}
section .contain .contactForm .formBox .inputBox input:focus ~ span,
section .contain .contactForm .formBox .inputBox textarea:focus ~ span,
section .contain .contactForm .formBox .inputBox input:valid ~ span,
section .contain .contactForm .formBox .inputBox textarea:valid ~ span{
	transform: translateY(-20px);
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 1px;
	color: #ff568c;
}
section .contain .contactForm .formBox .inputBox input[type="submit"]{
	position: relative;
	cursor: pointer;
	background: #cc3d3b;
	color:#fff;
	border:none;
	max-width: 150px;
	padding: 12px;
}
section .contain .contactForm .formBox .inputBox input[type="submit"]:hover{
	color: #ff568c;
}
@media (max-width: 991px)
{
	section .contain .contactForm{
	position: absolute;
	padding: 70px 50px;
	background: #fff;
	margin-top: 35px;
	margin-left: 385px;
	padding-left: 75px;
	width: calc(60% - 150px); 
	height: 75%;
	box-shadow: 0 50px 50px rgba(0,0,0,0.5)
	}
	section .contain .contactInfo 
	{
		font-size: 12px;
	position: absolute;
	top:40px;
	width: 240px;
	height: calc(80% - 80px);
	margin-top: 15px;
	margin-left: 200px;
	background: #cc3d3b;
	z-index: 1;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
	}
	section .contain .contactForm .formBox .inputBox input,
	section .contain .contactForm .formBox .inputBox textarea{
	width: 100% !important;
	padding: 4px 0;
	font-size: 12px;
	font-weight: 300;
	color: #333;
	border:none;
	border-bottom: 1px solid #777;
	outline: none;
	}
	section .contain .contactForm .formBox .inputBox{
	position: relative;
	margin: 0 0 15px 0;
	}
}
